/* Commerce Colors */

html {
  background: #ffffff;
}
body {
  color: #6b6565;
}

/* Links */
a:link,
a:visited,
a:active,
a.active,
li a.active {
  color: #363e49;
}
a:hover,
a:focus {
  color: #dadee2;
}

/* Main wrappers */
div#page {
  background-color: #eaedf1;
}
#header-wrapper {
  background-color: #5dade2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5dade2), to(#5dade2));
  background-image: -moz-linear-gradient(-90deg, #5dade2, #5dade2);
  background-image: linear-gradient(-90deg, #5dade2, #5dade2);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#5dade2', endcolorstr='#5dade2')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#5dade2,endcolorstr=#5dade2,GradientType=0);
}
#secondary-content-wrapper {
  background-color: #eaedf1;
  color: #6b6565;
}
#secondary-content-wrapper a {
  color: #363e49;
}
#secondary-content-wrapper .texture-overlay {
  border-bottom: 1px solid #ffffff;
}
#content-wrapper {
  border-top: 1px solid #dadee2;
  border-bottom: 1px solid #dadee2;
}
#quint-panels-wrapper {
  background-color: #6b6565;
  color: #585454;
  border-top: 1px solid #ffffff;
}
#quint-panels-wrapper a {
  color: #363e49;
}
#page-footer{
  background-color: #ffffff;
}
#footer-panels-wrapper {
  color: #dadee2;
  border-bottom: 1px solid #ffffff;
}
#footer-panels-wrapper h1,
#footer-panels-wrapper h2,
#footer-panels-wrapper h3,
#footer-panels-wrapper .title,
#footer-panels-wrapper a,
#footer-panels-wrapper a:link,
#footer-panels-wrapper a:hover,
#footer-panels-wrapper a:focus {
  color: #363e49;
}
#footer-wrapper {
  border-top: 1px solid #dadee2;
  background: #ffffff;
}

/* Draw */
#draw-wrapper {
  background: #dadee2;
  color: #6b6565;
}
#draw-wrapper h1,
#draw-wrapper h2,
#draw-wrapper h3,
#draw-wrapper .title,
#draw-wrapper a,
#draw-wrapper a:link,
#draw-wrapper a:hover,
#draw-wrapper a:focus {
  color: #363e49;
}
#toggle-wrapper {
  border-top: 4px solid #dadee2;
  background: transparent; /* transparent to show header gradient or image */
  color: #363e49;
}
#toggle-wrapper a {
  background: #dadee2;
  color: #363e49;
}

/* Header */
#site-name a {
  color: #dadee2;
}
#site-slogan {
  color: #dadee2;
}

/* Titles */
h1, h2, h3, .title {
  color: #f1f1f1;
}

/* Menu bar */
#menu-bar {
  background: #ffffff;
}
.nav .block-menu ul li a {
  color: #363e49;
}
.nav .block-menu ul li:hover,
.nav .block-menu ul li.focus,
.nav .block-menu ul a:focus,
.nav .block-menu ul a:hover,
.nav .block-menu ul a:active,
.nav .block-menu ul a:visited {
  color: #ffffff;
  background: #323a45;
}
.nav .block-menu ul ul {
  background: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity = 95);
  margin-left: 0;
}

/* Superfish Skin - we keep the Superfish skin seperate so we can special case
   if we really need to */
.sf-menu.sf-style-default a {
  border: 0;
}
.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited  {
  color: #363e49;
}
.sf-menu.sf-style-default span.sf-description {
  color: #ffffef;
}
.sf-menu.sf-style-default li li,
.sf-menu.sf-style-default.sf-navbar li ul {
  background-color: #323a45;
}
.sf-menu.sf-style-default li li li {
  background-color: #323a45;
}
.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active {
  background-color: #323a45;
}
.sf-menu.sf-style-default li,
.sf-menu.sf-style-default.sf-navbar,
.sf-menu.sf-style-default ul li:hover,
.sf-menu.sf-style-default ul li.sfHover,
.sf-menu.sf-style-default ul a:focus,
.sf-menu.sf-style-default ul a:hover,
.sf-menu.sf-style-default ul a:active {
  background-color: #ffffff;
}
.sf-menu.sf-style-default.sf-navbar li ul li ul {
  background-color: transparent;
}

/* nodes */
.node-teaser.node-sticky {
 background: #f9f9f9;
}
node header {
 border-bottom: 1px solid #d4f2bed5;
}

/* Blocks */
#block-system-main {
  border-bottom: none;
}

/* Profile */
.profile h3 {
    border-bottom: 1px solid #dadee2;
}

/* Local task tabs */
ul.primary {
  border-bottom: 1px solid #dadee2;
}
ul.primary li a,
ul.primary li a:hover {
  background: transparent;
}
ul.primary li a:hover,
ul.primary li a:focus,
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  background: transparent;
  color: #6b6565;
}

/* Tables */
tr.even {}
tbody tr:nth-child(2n+1),
tr.odd {}
td, th {
 border-color: #dadee2;
}
tr.even, tr.odd {
  border-bottom: 1px solid #dadee2;
}
tbody {
  border-top: 1px solid #dadee2;
}

/* Forms */
fieldset {
  border-color: #dadee2;
}
input[type="submit"] {
  border: 1px solid #ffffff;
  color: #353333;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));
  background-image: -moz-linear-gradient(-90deg, #ffffff, #ffffff);
  background-image: linear-gradient(-90deg, #ffffff, #ffffff);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#ffffff', endcolorstr='#ffffff')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#ffffff,endcolorstr=#ffffff,GradientType=0);

}
form.commerce-add-to-cart input,
.add-to-cart #edit-actions input,
input#edit-checkout,
input#edit-continue,
input.node-add-to-cart,
input.list-add-to-cart {
  border: 1px solid #a4ffd8;
  color: #ffffff;
  background-color: #a4ffd8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4ffd8), to(#c8dfd2));
  background-image: -moz-linear-gradient(-90deg, #a4ffd8, #c8dfd2);
  background-image: linear-gradient(-90deg, #a4ffd8, #c8dfd2);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#a4ffd8', endcolorstr='#c8dfd2')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#a4ffd8,endcolorstr=#c8dfd2,GradientType=0);
}

/* Content Display Grid */
.content-display-grid node .node-inner {
  border: 5px solid #eaedf1;
}
.content-display-grid node .node-inner:hover {
  border-width: 5px;
  border-style: solid;
  border-color: #dadee2;
}

/* Search */
#search-block-form input.form-text,
#search-block-form input::-webkit-input-placeholder,
#search-block-form input:-moz-placeholder {
  color: #585454;
}

/* Calendar module */
.calendar-calendar div.date-nav {
  background-color: transparent;
  color: #b91d00;
}
.calendar-calendar div.date-nav a,
.calendar-calendar div.date-nav h3 {
  color: #bc2c00;
}
.calendar-calendar td {
  color: #191818;
}
.calendar-calendar th {
  background-color: #fffbfb;
  color: #b91d00;
  border: 1px solid #dadee2;
}
.calendar-calendar th.days {
  background-color: #ffffff;
  color: #6b6565;
}
.calendar-calendar td .inner div.calendar div,
.calendar-calendar td .inner div.calendar div a,
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
  background-color: #fcfcfe;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #fffbfb;
}
.calendar-calendar td.calendar-agenda-hour,
.calendar-calendar td.calendar-agenda-items,
.calendar-calendar td.calendar-agenda-hour {
  border-color: #dadee2;
}
.view-content .calendar-calendar ul.inline li {
  border: 1px solid #dadee2;
}
#content .block .calendar-calendar .month-view table {
  border: 1px solid #dadee2;
}

/* Quicktabs */
.quicktabs-style-nostyle ul.quicktabs-tabs li a {}
.quicktabs-style-nostyle ul.quicktabs-tabs li a:hover,
.quicktabs-style-nostyle ul.quicktabs-tabs li a:focus,
.quicktabs-style-nostyle ul.quicktabs-tabs li.active a {}
