/**
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */

/* Some basic examples of cascading media queries. */

/* Really small screens and up 
@media only screen and (min-width: 220px) {
}
*/

/* Smartphone sizes and up 
@media only screen and (min-width: 320px) {
}
*/

/* Smartphone sizes and down */
@media only screen and (max-width: 480px) {
  
  /*
    Float Region blocks example:
    In smaller screen sizes we can remove the float and widths so all blocks
    stack instead of displaying horizonally. The selector used here is an
    "attribute selector" which will match on any float block class. Use your
    inspector or Firebug to get the classes from the page output if you need
    more granular control over block alignment and stacking.
    
    "Float Region blocks" is an extension for floating blocks in regions, see
    your themes appearance settings, under the Extensions tab.
  */

  .fa-tags::before {
    background: none;
  }

  .fa-tags::before {
    margin-right: 5px !important;
    padding-right: 0px !important;
  }

  .fa-tags::before {
    padding-right: 0px !important;
  }

  .mean-nav .fa::before {
    padding-right: 10px;
  }

  .fa-times::before,
  .fa-plus-circle::before {
    margin-top: -5px;
    position: absolute;
    right: 17px;
  }

  .fa-plus-circle::before {
    margin-top: 10px;
  }

  /* =============================================================================
   *   BLOCKS
   * ========================================================================== */
  .block-region-sidebar-first {
    padding-bottom: 30px !important;
  }

  .block-superfish {
    margin-top: 0px !important;
  }

  .region[class*="float-blocks"] .block,
  .block {
    float: none;
    width: auto !important;
    max-width: 100% !important;
  }

  #block-menu-menu-not-loged-in-users {
    margin: 10px !important;
  }

  #block-system-main-menu {
    margin-top: 0px !important;
  }

  .block-superfish {
    width: 100% !important;
  }

  .block-simpleads {
    padding-bottom: 0px !important;
  }

  /* =============================================================================
   *   REGIONS AND CONTENT
   * ========================================================================== */
  #content {
    padding: 0px;
  }

  .region.sidebar {
    position: relative;
  }

  #block-system-main-menu {
    padding-bottom: 10px !important
  }

  #page .region,
  .region-header .block {
    width: 100% !important;
  }

  .region.region-secondary-content {
    margin: 0px !important;
  }

  .region-header .block .field-content  {
    margin-left: 5%;
  }

  #content-wrapper section#breadcrumb {
    width: 92% !important;
  }

  .region-header .block-region-header {
    padding-bottom: 12px !important;
  }

  .region-header {
    max-height: 160px !important;
    min-width: 250px !important;
   }

  /* =============================================================================
   *   LIGHTBOX AND OVERLAY
   * ========================================================================== */
  #lightbox #outerImageContainer,
  #lightbox #modalContainer,
  #lightbox2-overlay,
  #lightboxFrame {
    width: 100% !important;
    overflow-x: hidden !important;
    min-height: 650px !important;
    height: 100% !important;
  }

  #imageDataContainer {
    width: 100% !important;
    overflow-x: hidden !important;
    min-height: 350px !important;
    height: 100% !important;
    max-height: 450px !important;
  }

  #modalContainer p,
  p {
    text-align: justify;
  }

  #modalContainer ul li,
  .chosen-container .chosen-results li {
    text-align: justify;
    margin-left: -10px;
    width: 100%;
  }
  
  .messages.simple-overlay .imagenes-logos,
  .messages.simple-overlay .informacion,
  div.messages.simple-overlay .message-inner {
    width: 100% !important;
    float: left !important;
  }
  
  .messages.simple-overlay .imagenes-logos #logo-histomedical,
  .messages.simple-overlay .imagenes-logos #logo-ssl {
    width: 35% !important;
    margin-left: 13% !important;
    float: left;
  }

  .mean-container .mean-bar {
    z-index: 199 !important;
  }

  /* =============================================================================
   *   PANELS
   * ========================================================================== */
  .panel-panel {
    width: 100% !important;
  }

  /* =============================================================================
   *   FIELDS
   * ========================================================================== */
  .confirm-parent,
  .password-parent,
  div.form-item div.password-suggestions,
  .views-submit-button {
    width: 100% !important;
  }
  
  .art-button {
    width: 85% !important;
    min-height: 30px;
  }

  #edit-cancel,
 .form-submit {
    float: none !important;
  }

  .password-strength,
  .password-strength-text,
  .password-strength-title,
  .art-button {
    float: left;
  }

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    height: 40px !important;
    width: 100% !important;
  }

  fieldset.form-wrapper:not(#edit-timezone) {
    float: left;
  }

  #commerce-checkout-form-checkout fieldset.form-wrapper {
    float: none;
  }

  fieldset {
    padding: 2px !important;
    width: 98% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    min-width: 100% !important;
  }

  .art-button {
    margin-bottom: 20px;
    margin-top: 20px !important;
    height: auto !important;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  textarea,
  select {
    width: 100% !important;
  }

  .field-name-field-paciente-form .form-autocomplete,
  textarea {
    width: 100% !important;
  }

  select {
    height: auto !important;
    min-height: 30px !important;
    margin: 0 auto;
    width: 100% !important;
  }

  .form-item,
  fieldset table tr th,
  fieldset table tr td {
    float:left !important;
    margin-top: 5px !important;
    white-space: normal !important;
  }

  fieldset .form-item {
    width: 100% !important;
  }

  #edit-timezone {
    display: table-cell !important;
  }
  .not-logged-in #user-register-form #edit-timezone {
    display: none !important;
  }
  fieldset.captcha .form-item,
  fieldset.captcha table tr th,
  fieldset.captcha table tr td {
    float: none !important;
  }

  fieldset .form-submit,
  .autocomplete-deluxe-container {
    width: 90% !important;
    margin-left: 5% !important;
  }

  .field-multiple-table .field-name-field-indicacion input,
  .field-multiple-table .field-name-field-indicacion + .form-submit {
    width: 94% !important;
  }

  .field-name-field-medicamentos .autocomplete-deluxe-container {
    width: 95% !important;
    margin-left: 0px !important;
  }

  .autocomplete-deluxe-container.autocomplete-deluxe-multiple {
    width: 99% !important;
    margin-left: 0px !important;
  }

  .form-item input.form-checkbox,
  .form-item input.form-radio {
    max-width: 30px;
  }

  .form-actions #edit-cancel {
    height: 35px !important;
    display: block;
    text-align: center;
    margin: 0px !important;
    margin-top: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }

  .button-operator {
    float: left;
    width: 100%;
    text-align: center;
  }

  #boxes-box-positive_ssl {
    margin-left: 20% !important;
  }

  /* =============================================================================
   *   CAPTCHA
   * ========================================================================== */
  fieldset.captcha {
    border-radius: 0px !important;
    margin: 0 auto !important;
  }


  #edit-captcha-form {
    margin-left: -16px;
    transform: scale(0.8);
  }

  #recaptcha_widget_div #recaptcha_area, #recaptcha_widget_div #recaptcha_table {
    width: 80% !important;
  }

  .recaptchatable #recaptcha_image #recaptcha_challenge_image {
    margin-top: -12px !important;
  }

  /* =============================================================================
   *   DATE
   * ========================================================================== */
  fieldset.date-combo .container-inline-date .date-padding {
    width: 100% !important;
  }

  /* =============================================================================
   *   LIST AND BOXES
   * ========================================================================== */

  ul.menu {
    margin: 0;
  }

  ul.menu li,
  ul.menu li a:hover {
    margin-top: 5px !important;
  }

  ul.menu li:not(.sf-menu li),
  #block-menu-menu-documentos-legales ul li {
    width: 100% !important;
    height: 35px;
  }

  #block-menu-menu-documentos-legales ul li a {
    text-align: left !important;
    padding: 0 !important;
    margin: 0 !important; 
  }

  ul.menu li:not(.sf-menu li):hover,
  #block-menu-menu-documentos-legales ul li:hover {
    background: #323A45;
    border-top:1px solid #DADEE2;
    color: #ffffff !important;
    margin: 0px 0px 0px -10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #block-menu-menu-documentos-legales ul li:hover > a,
  ul.menu li:hover > a  {
    border-top: 0px !important;
    color: #ffffff !important;
  }

  /* =============================================================================
   *   TITLES
   * ========================================================================== */
  h1 {
    font-size: 1.2em !important;
  }
  
  h1 a {
    margin-left: -15px;
  }

  .logo-img {
    margin-left: 3%;
  }
	
  /* =============================================================================
   *   MENUS
   * ========================================================================== */
  #tasks {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px;
  }
  #tasks .tabs li {
    float:left;
    display: inline-block;
    width:auto !important;
  }
  #tasks .tabs li a {
    background: #f5f5f5;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 100%;
  }

  /* =============================================================================
   *   REESPOSIVE NAV
   * ========================================================================== */
  .mean-container .mean-bar {
    position: absolute !important;
    top: 120px !important;
    background: #20262e !important;
    border-top: 1px solid #323a45;
  }


  .admin-menu .mean-bar {
    top: 160px !important;
  }

  .mean-container .mean-nav {
    background: #20262e !important;
  }

  .mean-container .mean-nav ul li a:hover {
    background: #6ADAE4 !important;
    color: #DADEE2 !important;
  }

  .mean-container .mean-nav li {
    min-height: 54px !important;
  }

  .mean-container .mean-nav li li {
    border: 0 none !important;
    margin-bottom: -9px !important;
    padding-bottom: 5px;
  }

  .mean-container .mean-nav ul li li li a {
    padding: 1em 16% !important;
    margin-top: -10px !important;
    padding-bottom: 5px !important;
  }

  .mean-nav ul li:hover > a {
    color: #ffffff !important;
  }

  .mean-expand {
    height: 23px !important;
    margin-right: 7px !important;
    margin-top: 4px !important;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    padding: 0px !important;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    border-left: 0px !important; 
    border-bottom: 0px !important; 
    background: none !important;
  }

  /* =============================================================================
   *   BREADCRUB
   * ========================================================================== */
  #content-wrapper section#breadcrumb {
    height: auto;
  }

  #breadcrumb {
    margin: 0 auto !important;
    margin-top: 30px !important;
    padding-bottom: 20px;
  }

  .block-simpleads {
    margin-top: 0px !important;
  }

  /* =============================================================================
   *   CALENDAR
   * ========================================================================== */
  .calendar-calendar .year-view td {
    float: left;
    width: 100%;
  }

  .calendar-calendar .year-view .month-view th {
    float: left;
    width: 12.5%;
  }

  .calendar-calendar .month-view {
    margin-left: -10px;
  }
 
  .calendar-calendar .month-view th {
    display: table-cell;
    width: 20px;
  }

  /* =============================================================================
   *   VIEWS
   * ========================================================================== */
  
  .item-list .pager {
    margin-bottom: 15px;
    position: relative;
  }
  
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-left: -5px;
  }

  .views-exposed-form .views-exposed-widget {
    margin-left: 5%;
    text-align: center;
  }
  
  .views-exposed-widget.views-submit-button {
    margin-left: 1%;
  }

  .view {
     padding-bottom: 35px;
  }
  
  .view .date-nav-wrapper {
    width: 100%;
    margin-top: 25px;
    /*float: left;*/
  }
  
  .view-citas .view-header .art-button {
    position: relative !important;
    margin-top: -30px !important;
  }

  .view-citas .view-header .date-heading {
    margin-top: 0px !important;
  }

  .view-historias-medicas {
    position: relative;
    bottom: 10px;
  }
  
  #block-views-usuarios-block-1 .view .field-content:last-child {
	float: left !important;
    width: 100% !important;
  }
  
  /* =============================================================================
   *   COMMERCE
   * ========================================================================== */
   .not-logged-in.page-home .block-region-content .pane-formblock {
     max-width: 100% !important;
    }
   .field-name-commerce-order-total .commerce-price-formatted-components {
     width: 70%;
     font-size: 0.6em !important;
   }
  /**
   * Cambios septiembre, 2016
   * pagina principal para los usuarios anonimos
   */
  .not-logged-in.page-home #block-user-login {
    min-width: 100%;
  }
  .not-logged-in .block-region-header.logo-no-login .block-content {
    margin-left: 30% !important;
  }
  .not-logged-in.page-home #user-login-form {
    margin-left: 5%;
  }
  .not-logged-in.page-home .region-header {
    min-height: 305px !important;
  }
  .not-logged-in.page-home .block-region-content.block-main {
    padding: 0px !important;
  }
  .not-logged-in.page-home #block-user-login #user-login-form .form-item,
  .not-logged-in.page-home #user-register-form .form-item {
    width: 100% !important;
  }
  .not-logged-in.page-home #user-register-form .password-confirm,
  .not-logged-in.page-home #user-register-form #edit-account .form-item-name,
  .not-logged-in.page-home #user-register-form #edit-account .form-item-mail,
  .not-logged-in.page-home #user-register-form .field-name-field-nombre,
  .not-logged-in.page-home #user-register-form .field-name-field-apellido {
    width: 100% !important;
  }
  .not-logged-in.page-home #user-register-form #edit-account .form-item-name,
  .not-logged-in.page-home #user-register-form #edit-account .form-item-mail {
    margin-bottom: 13px;
  }
  .not-logged-in .region.region-footer .region-inner {
    width: 70%;
  }
  .not-logged-in.page-home #block-user-login #user-login-form .item-list {
    margin-left: 0px;
  }
  .not-logged-in.page-home #block-user-login #user-login-form .form-actions {
    float: none;
    margin-left: 10px !important;
    margin-top: 10px;
  }
  .not-logged-in.page-home .pane-formblock-user-register .block-content {
    margin-top: 35px;
  }
}

/* Tablet sizes and up 
@media only screen and (min-width: 768px) {
}
*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .fa-tags::before {
    margin-right: 5px !important;
    padding-right: 0px !important;
  }

  .mean-nav .fa::before {
    margin-left: -20px;
  }

  .fa-times::before {
    position: relative;
    margin-right: 30px;
    float: right;
    margin-top: 30px;
    margin-bottom: -25px;  
  }

  #lightbox #outerImageContainer,
  #lightbox #modalContainer,
  #lightbox2-overlay,
  #lightboxFrame {
    width: 100% !important;
    overflow-x: hidden !important;
    min-height: 650px !important;
    height: 100% !important;
  }

  #imageDataContainer {
    width: 100% !important;
    overflow-x: hidden !important;
    min-height: 350px !important;
    height: 100% !important;
    max-height: 450px !important;
  }
  
  /* =============================================================================
   *   Fields
   * ========================================================================== */
  button,
  input,
  select,
  textarea,
  .confirm-parent,
  .password-parent,
  div.form-item div.password-suggestions,
  .views-submit-button {
    width: 100% !important;
  }

  select {
    height: auto !important;
    min-height: 32px !important;
  }

  .form-item input.form-checkbox,
  .form-item input.form-radio {
    max-width: 15px;
    max-height: 15px;
  }

  button,
  #edit-cancel,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    height: 40px !important;
    width: 100% !important;
    float: none;
  }

  textarea,
  div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
    width: 100% !important;
  }

  table input[type="text"],
  table input[type="password"],
  table input[type="email"] {
    width: 98% !important;
  }

  #edit-cancel {
    padding-bottom: 5px;
    align-items: flex-start !important;
    height: 35px !important;
    margin-bottom: 5px;
    display: inline-block;
  }

   #edit-cancel {
    width: 100% !important;
  }

  a#edit-cancel {
    width: 94% !important;
    text-align: center;
    height: 30px !important;
  }

  #edit-cancel.checkout-cancel {
    width: 90% !important;
  }

  .field-multiple-table .field-name-field-indicacion + .form-submit {
    width: 96.5% !important;
  }

  .art-button {
    padding-bottom: 10px;
    padding-top: 10px !important;
    margin-bottom: 20px;
    margin-top: 20px !important;
    height: auto !important;
    width: 94% !important;
    float: left;
  }

  a.art-button:hover  {
   color: #ffffff !important;
  }

  .form-item:not(#edit-captcha-form.form-item),
  fieldset table tr th,
  fieldset table tr td {
    float:left !important;
    width: 100% !important;
    margin-top: 5px !important;
    white-space: normal !important;
  }

  fieldset .form-item {
    width: 100% !important;
  }

  .field-widget-field-collection-embed + .form-submit.ajax-processed {
    width: 98% !important;
  }

  fieldset .form-submit {
    width: 90% !important;
    margin-left: 5% !important;
  }
  
  .autocomplete-deluxe-container {
    width: 98% !important;
    margin-left: 0px !important;
  }

  .button-operator {
    float: left;
    width: 100%;
    text-align: center;
  }

  /* =============================================================================
   *   BREADCRUB
   * ========================================================================== */
  #content-wrapper section#breadcrumb {
    width: 95% !important;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #content-wrapper section#breadcrumb {
    height: auto;
  }

  #breadcrumb {
    margin-top: 30px !important;
    margin-bottom: 0px;
    padding-bottom: 10px !important;
  }

  .block-simpleads {
    margin-top: 0px !important;
  }

  /* =============================================================================
   *   BLOCK AND REGION
   * ========================================================================== */
  .block,
  .not-logged-in .block {
    width: 100% !important;
    max-width: 95.6% !important;
    margin: 0 auto !important;
    padding-bottom: 5px !important;
  }
  
  .block-region-sidebar-first {
    padding-bottom: 30px !important;
  }

  .not-logged-in .block#block-system-main {
    max-width: 70%;
    padding-bottom: 60px !important;
  }

  #block-system-main-menu {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  .region-header {
    min-height: 60px;
    float: right !important;
    margin-top: 15px;
  }

  .region-header .block {
    width: 40% !important;
  }
  
  .not-logged-in .block .form-item {
    float: none !important;
  }

  .block-superfish {
    width: 100% !important;
    margin: 0px !important;
    margin-left: 4% !important;
    padding-top: 10px;
    padding-right: 7px !important;
    padding-left: 7px !important;
  }

  /* =============================================================================
   *   VIEWS
   * ========================================================================== */
  #block-views-usuarios-block-1 {
    margin-top: 15px !important;
    padding-right: 20px;
  }
  
  #block-views-usuarios-block-1 .view .field-content:last-child { 
    float: left;
    padding-top: 0px !important;
    margin-top: -13px !important;
  }
  
  .views-exposed-form .views-exposed-widget {
    float:none;
    padding:0px;
  }
  
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
    margin-left: 2px;
  }
  .view .date-nav-wrapper {
    width: 100%;
    margin-top: 25px;
    /*float: left;*/
  }
  
  .view-citas .view-header .art-button,
  .view-pacientes a.art-button,
  .pagina-mis-consultas a.art-button {
    margin-top: -30px !important;
    position: relative !important;
  }

  /*.view-citas .view-header .art-button {
    position: relative !important;
    margin-top: 0px !important;
  }*/

  .view-citas .view-header .date-heading {
    margin-top: 0px !important;
  }

  /* =============================================================================
   *   TASKS
   * ========================================================================== */
  #tasks {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 30px;
    padding: 6px;
    width: 98%;
    margin: 0 auto;
  }
  
  #tasks .tabs li {
    float:left;
    display: inline-block;
    width:auto !important;
  }
  
  #tasks .tabs li a {
    background: #f5f5f5;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 100%;
  }
  
  /* =============================================================================
   *   COMMERCE
   * ========================================================================== */
   .field-name-commerce-order-total .commerce-price-formatted-components {
     width: 70%;
     font-size: 0.6em !important;
   }

  /* =============================================================================
   *   REESPOSIVE NAV
   * ========================================================================== */
  .mean-container .mean-bar {
    top: 110px;
    background: #20262e !important;
    border-top: 1px solid #323a45;
    float: right;
    position: absolute;
    clear: left;
    z-index: 2;
  }

  .mean-container .mean-nav {
    background: #20262e !important;
  }

  .admin-menu .region-header {
   margin-top: -10px !important;
  }

  .admin-menu .mean-bar {
   top: 80px !important;
  }

  .mean-container .mean-nav ul li a:hover {
    background: #6ADAE4 !important;
    color: #DADEE2 !important;
  }

  .mean-container .mean-nav ul li li li a {
    padding: 1em 16% !important;
    padding-bottom: 0px !important;
  }

  .mean-container .mean-nav li li {
    border: 0 none !important;
    margin-bottom: -3px !important;
    padding-bottom: 5px;
  }

  .mean-nav ul li:hover > a {
    color: #ffffff !important;
  }

  .mean-expand {
    height: 23px !important;
    margin-right: 7px !important;
    margin-top: 4px !important;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    border-left: 0px !important; 
    border-bottom: 0px !important; 
    background: none !important;
  }

  .mean-container .mean-bar {
    z-index: 199 !important;
  }
  /**
   * Cambios septiembre, 2016
   * pagina principal para los usuarios anonimos
   */
  .not-logged-in.page-home #block-user-login #user-login-form .item-list {
    margin-left: 10px;
    margin-top: 10px;
  }
  .not-logged-in.page-home #block-user-login {
    min-width: 100%;
  }
  .not-logged-in .block-region-header.logo-no-login .block-content {
    margin-left: 100% !important;
  }
  .not-logged-in.page-home #user-login-form {
    margin-left: 5%;
  }
  .not-logged-in.page-home .region-header {
    min-height: 325px !important;
  }
  .not-logged-in.page-home .block-region-content .pane-formblock {
    max-width: 90% !important;
}
  .not-logged-in.page-home .region-two-50-first,
  .not-logged-in.page-home .region.region-two-50-second,
  .not-logged-in.page-home #block-user-login #user-login-form .form-item,
  .not-logged-in.page-home #user-register-form .form-item {
    width: 100% !important;
  }
  .not-logged-in.page-home #user-register-form .password-confirm,
  .not-logged-in.page-home #user-register-form #edit-account .form-item-name,
  .not-logged-in.page-home #user-register-form #edit-account .form-item-mail,
  .not-logged-in.page-home #user-register-form .field-name-field-nombre,
  .not-logged-in.page-home #user-register-form .field-name-field-apellido {
    width: 100% !important;
  }
  .not-logged-in.page-home #block-user-login #user-login-form .form-actions {
    float: none;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px !important;
  }
}

/* Desktops/laptops and up 
@media only screen and (min-width: 1025px) {
}
*/



@media only screen and (max-width:320px) {
header#header div#branding {
  float: none;
  margin: auto;
  text-align: center;
}

header#header div.region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  width: auto;
}

header#header div.region-header .block {
  clear: both;
  display: block;
  margin: auto;
  padding: 0 0 10px !important;
  text-align: left;
  width: auto;
}

header#header div.region-header .block-inner {
  margin: 0 20px;
}

header#header div#logo,
header#header h1#site-name,
header#header h2#site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
}

#menu-bar-wrapper,
#menu-bar {
  min-height: 3em;
  height: auto;
}

#menu-bar {
  padding: 0 2px;
}

#menu-bar .block {
  clear: both;
  float: none;
}

#menu-bar .menu-wrapper > ul,
#menu-bar .menu-wrapper > ul > li {
  display: block;
  float: none;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#menu-bar .menu-wrapper ul > li > a {
  padding: 6px 10px 8px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

#menu-bar .menu-wrapper ul,
#menu-bar .menu-wrapper ul li.last {
  border: 0;
}

#menu-bar .sf-menu {
  height: auto;
  padding: 2px 0;
}

.region-header .block {
  overflow: hidden;
}

.region-draw .block {
  float: none;
  display: block;
  min-width: 0;
  max-width: 100%;
  margin: 0 auto 10px;
}

.node-title {
  font-size: 1.5em;
}

#secondary-content-wrapper .block-content-inner {
  padding: 0;
}

#secondary-content-wrapper .block-content-inner  img {
  max-width: 280px;
  display: block;
  margin: 10px auto;
}

#secondary-content-wrapper .block-content-inner .views-row {
  max-width: 90%;
  margin: auto;
}

#secondary-content-wrapper .block-content-inner .image-right,
#secondary-content-wrapper .block-content-inner .image-left,
.field-type-image {
  float: none !important;
  display: block !important;
  margin: auto !important;
  text-align: center !important;
}

.flexslider ul.flex-direction-nav {
  top: 10px !important;
}

.content-display-grid .block-inner {
  margin: 0;
}


/* Force tableviews-view-grid to not be like a table anymore */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0;
}

/* Hide table headers */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.views-view-grid td {
  position: relative;
}

.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0;
}

/* Calendar */
.view .date-nav-wrapper .date-heading {
  text-align: left;
}

.calendar-calendar .month-view table.full {
  position: relative;
}

.calendar-calendar .month-view .full tr td {
  width: 100%;
  float: left;
  text-align: left;
}

.calendar-calendar tbody tr:hover td {
  background: none;
}

.calendar-calendar .month-view .full tr.single-day {
  border-top: 1px solid #ccc;
}

.calendar-calendar .month-view .full tr td.single-day:before {
  content: attr(data-day-of-month) ",\0000a0" attr(headers);
  font-weight: bold;
}

.calendar-calendar .month-view .full thead tr,
.calendar-calendar .month-view .full tr th.days,
.calendar-calendar .month-view .full tr td.date-box,
.calendar-calendar .month-view .full tr td.no-entry,
.calendar-calendar .month-view .full tr td.empty {
  display: none;
}

}
@media only screen and (min-width:321px) and (max-width:480px) {
header#header div#branding {
  float: none;
  margin: auto;
  text-align: center; 
}
header#header div.region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  width: auto;
}
header#header div.region-header .block {
  clear: both;
  display: block;
  margin: auto;
  padding: 0 0 10px !important;
  text-align: left;
  width: auto;
}
header#header div.region-header .block-inner {
  margin: 0 20px;
}
header#header div#logo,
header#header h1#site-name,
header#header h2#site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
}
#menu-bar-wrapper,
#menu-bar {
  min-height: 3em;
  height: auto;
}
#menu-bar {
  padding: 0 2px;
}
#menu-bar .block {
  clear: both;
  float: none;
}
#menu-bar .menu-wrapper > ul,
#menu-bar .menu-wrapper > ul > li {
  display: block;
  float: none;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
#menu-bar .menu-wrapper ul > li > a {
  padding: 6px 10px 8px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
#menu-bar .menu-wrapper ul,
#menu-bar .menu-wrapper ul li.last {
  border: 0;
}
#menu-bar .sf-menu {
  height: auto;
  padding: 2px 0;
}
.region-header .block {
  overflow: hidden;
}
.region-draw .block {
  float: none;
  display: block;
  min-width: 0;
  max-width: 100%;
  margin: 0 auto 10px;
}
.node-title {
  font-size: 1.25em;
}
#secondary-content-wrapper .block-content-inner {
  padding: 0;
}
#secondary-content-wrapper .block-content-inner  img {
  max-width: 280px;
  display: block;
  margin: 10px auto;
}
#secondary-content-wrapper .block-content-inner .views-row {
  max-width: 90%;
  margin: auto;
}
#secondary-content-wrapper .block-content-inner .image-right,
#secondary-content-wrapper .block-content-inner .image-left,
.field-type-image {
  float: none !important;
  display: block !important;
  margin: auto !important;
  text-align: center !important;
}
.flexslider ul.flex-direction-nav {
  top: 10px !important;
}
.content-display-grid .block-inner {
  margin: 0;
}
/* Force tableviews-view-grid to not be like a table anymore */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0;
}
/* Hide table headers */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.views-view-grid td {
  float: left;
}
.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0;
}

}
@media only screen and (min-width:481px) and (max-width:768px) {
header#header div#branding {
  float: none;
  margin: auto;
  text-align: center; 
}
header#header div.region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  width: auto;
}
header#header div.region-header .block {
  clear: none;
  display: inline;
  margin: auto;
  padding: 0 0 15px !important;
  text-align: left;
  width: auto;
}
header#header div.region-header .block-inner {
  margin: 0 20px;
}
header#header div#logo,
header#header h1#site-name,
header#header h2#site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
}
.hl-r #logo {
  padding: 0 3px 7px 10px;
}
.hl-l #logo {
  padding: 0 10px 7px 3px;
}
#site-name {
  font-size: 1.8em;
}
#secondary-content-wrapper .block-content-inner  .image-right,
#secondary-content-wrapper .block-content-inner  .image-left,
#secondary-content-wrapper .block-content-inner  .field-type-image,
#secondary-content-wrapper .block-content-inner  figure  {
  max-width: 50%;
}
#secondary-content-wrapper .block-content-inner img {
  max-width: 100%;
}
.flexslider ul.flex-direction-nav {
  top: 25% !important;
}
/* Force tableviews-view-grid to not be like a table anymore */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0;
}
/* Hide table headers */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.views-view-grid td {
  float: left;
}
.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0;
}

}
@media only screen and (min-width:769px) and (max-width:1024px) {
.hl-r #logo {
  padding: 0 3px 7px 0;
}
.hl-l #logo {
  padding: 0 0 7px 3px;
}
#site-name {
  font-size: 2em;
  white-space: pre;
}
/* Force tableviews-view-grid to not be like a table anymore */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0;
}
/* Hide table headers */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.views-view-grid td {
  float: left;
}
.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0;
}
/**
 * Cambios septiembre, 2016
 * pagina principal para los usuarios anonimos
 */
.not-logged-in.page-home #block-user-login #user-login-form .item-list {
  margin-left: 10px;
  margin-top: 10px;
}
.not-logged-in.page-home #block-user-login {
  min-width: 100%;
}
.not-logged-in .block-region-header.logo-no-login {
  margin-left: 45% !important;
}
.not-logged-in.page-home #user-login-form {
  margin-left: 5%;
  margin-top: -50px;
}
.not-logged-in.page-home .region-header {
  min-height: 325px !important;
}
.not-logged-in.page-home .block-region-content .pane-formblock {
  max-width: 90% !important;
}
.not-logged-in.page-home .region-two-50-first,
.not-logged-in.page-home .region.region-two-50-second,
.not-logged-in.page-home #block-user-login #user-login-form .form-item,
.not-logged-in.page-home #user-register-form .form-item {
  width: 100% !important;
}
.not-logged-in.page-home #user-register-form .password-confirm,
.not-logged-in.page-home #user-register-form #edit-account .form-item-name,
.not-logged-in.page-home #user-register-form #edit-account .form-item-mail,
.not-logged-in.page-home #user-register-form .field-name-field-nombre,
.not-logged-in.page-home #user-register-form .field-name-field-apellido {
  width: 100% !important;
}
.not-logged-in.page-home #block-user-login #user-login-form .form-actions {
  float: none;
  margin-top: 10px;
  margin-right: 0px;
}

}
@media only screen and (min-width:1225px) {
 

}